.header nav a{
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
  }
  .navbar-link{
    margin-left: 40%;
  }
  .my-card{
    border: 1px solid #0d6efd;
  }
  .usr img{
    border-radius: 50px;
  }
  .pd-img img{
    width: 80px;
  }
  .contact{
    border: 1px solid #0d6efd;
  }